.fundo {
    background-color: white;
}
.logo {
    width: 300px;
}

.botoes {
    position: absolute;
    top: 40px;
    right: 120px;
}

.espaco {
    margin-left: 35px;
    margin-right: 35px;
    color: black;
    font-weight: unset;
    font-size: 23px;
}